
@font-face {
  font-family: 'enriqueta';
  src: url('../assets/fonts/Enriqueta-Regular.ttf');
}
@font-face {
  font-family: 'caudex';
  src: url('../assets/fonts/Caudex-Regular.ttf');
}
@font-face {
  font-family: 'jura';
  src: url('../assets/fonts/Jura-Regular.ttf');
}

